<form [formGroup]="regForm" class="form" (ngSubmit)="submit()">
    <h2 class="text-primary">Registartion form using reactive form</h2>
    <div class="form-group">
   <label>First Name</label>
   <input type="text" formControlName="firstName" class="form-control"/>
   <div class="text-danger" *ngIf="regForm.get('firstName')?.touched && regForm.get('firstName')?.invalid || submitted && regForm.get('firstName')?.invalid">
        <div *ngIf="regForm.get('firstName')?.errors?.['required']">
        First Name is required

      </div>
   </div>
    </div>
    <div class="actions">
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-warning">Reset</button>

    </div>
</form>
