<div class="container">
  <div class="navbar">
    <a href="#" class="logo">my logo</a>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Signup</a></li>
    </ul>

  </div>
  <div class="content">
    <h1>Design your websites</h1>
    <p>
        With Grammarly, you’ll get automated APA, MLA, and Chicago-style citations built for you without having to leave a web page. You’ll also benefit from more academic writing support, including plagiarism detection, citation formatting, and proofreading.
    </p>
     <div>
        <button><span></span>More</button>
        <button><span></span>Subscribe</button>
     </div>
  </div>
</div>
<section class="footer">
    <div class="box-container">
        <div class="box">
         <h3>More links</h3>
           <a href="#">My Account</a>
           <a href="#">My Order</a>
           <a href="#">My favourite</a>
        </div>
        <div class="box">
            <h3>Locations</h3>
              <a href="#">Andhrapradesh</a>
              <a href="#">Telangana</a>
              <a href="#">Banglore</a>
           </div>
    </div>

</section>



