.p-card{
    width:250px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 gray;
    padding: 15px;
}
.p-card img{
    width:100%;
    height:200px;
    object-fit:contain;
}
.title{
    height:50px
}