<!-- <div class="overlay">
    <div class="form">
        <div class="filed">
            <label for="">User name</label>
            <input type="text" class="form-control" />
        </div>
        <div class="filed">
            <label for="">Password</label>
            <input [type]="showpassword ?'text':'password' " class="form-control" />
            <i (click)="toggleshow()" class="fa-solid fa-eye" *ngIf="!showpassword"></i>
            <i (click)="toggleshow()"  class="fa-solid fa-eye-slash" *ngIf="showpassword"></i>
        </div>
    </div>
</div> -->