<p>usercard works!</p>

<!-- <div class="card">
    <img src="{{cuser.img}}"  alt="Image"/>
    <div class="details">
        <h2 id="name">{{cuser.name}}</h2>
        <p>Some data added Here</p>
    </div>
    <div class="row">
        <span>Email</span>
        <span class="data">{{cuser.email}}</span>
    </div>
    <div class="row">
        <span>City</span>
        <span class="data">{{cuser.address.city}}</span>
    </div>
    <div class="row">
        <span>Phone</span>
        <span class="data">{{cuser.phone}}</span>
    </div>
</div> -->
