<p>usercard works!</p>

<div class="card" *ngIf="cuser"> <!-- Add *ngIf to check if cuser is defined -->
    <div class="details">
        <h2 id="name">{{ cuser?.firstName }} {{ cuser?.lastName }}</h2> <!-- Use safe navigation operator ? -->
        <p>Some data added here</p>
    </div>
    <div class="row">
        <span>Age</span>
        <span class="data">{{ cuser?.age }}</span> <!-- Use safe navigation operator ? -->
    </div>
    <div class="row">
        <span>City</span>
        <span class="data">{{ cuser?.address.city }}</span> <!-- Use safe navigation operator ? -->
    </div>
    <div class="row">
        <span>Postal Code</span>
        <span class="data">{{ cuser?.address.postalCode }}</span> <!-- Use safe navigation operator ? -->
    </div>
</div>

