<div class="data" *ngIf="!loading">
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Email</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>{{u.address.city}}</td>
          </tr> -->
        </tbody>
      </table>

</div>
 <div class="loading" *ngIf="loading">
    <i class="fa-solid fa-spinner"></i>
 </div>