.extra {
    flex:1 1 auto;
}
.logo{
    margin-left:20px;
}
.sidenav{
    position: absolute;
     top: 60px;
    /* bottom: 0;
    left: 0;
    right: 0;  */
    background: #eee;
  }

  h2::first-letter{
    text-transform: uppercase;
    color: red;
  }