/* 
.t1{
  margin-top:10px;
  margin-left:20px;
  width:200px;
  height:200px;
  background: yellowgreen;
}
.t2{
  margin-top:20px;
  margin-left:20px;
  width:200px;
  height:200px;
  background: red;
  transition:3s;
}
.t1:hover{
  transform:perspective(200px) rotateY(45deg);
}
.t2:hover{
  transform:scale3d(3, 2, 3);
}
.h{
  font-family:'Akaya Telivigala', "cursive"
}  */
/* .t1:hover, .t2:hover{
  width:300px;
  height:300px;
 
} */

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body {
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh
}
.container{
   background:linear-gradient(to right, red,blue,green);
   width:10%;
   height:100vh;
  display:flex;
  padding:10px 0;
  align-items:center;
  justify-content:center;
  border-radius:10px;
} 