<!-- <div class="one">One</div>
<div class="two">Two</div> -->

<!-- <h4 class="txt">TextGradiant Example </h4> -->

<!-- 
<div class="t1"> Transition 1</div>
<div class="t2"> Transition 2</div>
 <h1 class="h">This is heading 1 </h1> -->
<!-- 
 <app-website></app-website> -->
<!-- <h1>{{city}}</h1> -->
<!-- 
city : <input type="text" [(ngModel)] ="city"/>

<h4>City Name : {{city}}</h4>

<button (click)="updatecity()">Update</button> -->

<table>
    <tr *ngFor="let n of nums; index as i">
         <td>data {{n}} {{i+1}}</td>

    </tr>
</table>