.extra {
    flex:1 1 auto;
}
.logo{
    margin-left:20px;
}
.sidenav{
    position: absolute;
     top: 60px;
    /* bottom: 0;
    left: 0;
    right: 0;  */
    background: #eee;
  }

  h2::first-letter{
    text-transform: uppercase;
    color: red;
  }
  h2::after{
    content:"before element used";
    color: pink
  }
  /* p::first-line{
    font-size: 25px;
    color:blue
  } */
  /* p::selection{
    background: black;
    color:white
  } */

  p[type ="email"]{
    background-color: red;
    color:white;
    font-size: 20px;
  }
  .preview{
    display:flex;
    gap:20px;
    margin-top:20px;
  }
  .img-box{
    width:250px;
    height:250px;
  }
  .img-box img{
    width:100%;
    height:100%;
    object-fit:cover;
  }