<!-- <div class="one">One</div>
<div class="two">Two</div> -->

<!-- <h4 class="txt">TextGradiant Example </h4> -->

<!-- 
<div class="t1"> Transition 1</div>
<div class="t2"> Transition 2</div>
 <h1 class="h">This is heading 1 </h1> -->
<!-- 
 <app-website></app-website> -->
<!-- <h1>{{city}}</h1> -->
<!-- 
city : <input type="text" [(ngModel)] ="city"/>

<h4>City Name : {{city}}</h4>

<button (click)="updatecity()">Update</button> -->
<h1>{{name | uppercase}}</h1>
<h1>{{name | titlecase}}</h1>
<h1>{{name | lowercase}}</h1>
<h1>{{salary | currency}}</h1>
<h1>{{salary | currency : 'INR' :'code'}}</h1>
<h1>{{salary | currency : 'INR' :'symbol'}}</h1>
<h4>{{person1 | json}}</h4>
<h5>{{dob | date}}</h5>
<h6>{{num1 | percent}}</h6>
<h4>{{name | slice:2:4}}</h4>