<!-- <div class="one">One</div>
<div class="two">Two</div> -->

<!-- <h4 class="txt">TextGradiant Example </h4> -->

<!-- 
<div class="t1"> Transition 1</div>
<div class="t2"> Transition 2</div>
 <h1 class="h">This is heading 1 </h1> -->
<!-- 
 <app-website></app-website> -->
<!-- <h1>{{city}}</h1> -->
<!-- 
city : <input type="text" [(ngModel)] ="city"/>

<h4>City Name : {{city}}</h4>

<button (click)="updatecity()">Update</button> -->
<!-- <app-header></app-header>
<router-outlet>
</router-outlet> -->
<!-- 
<button (click)="getData()" *ngIf="!data">Click</button>

<div *ngIf="data">
    <table>
        <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Image</th>
       </tr>
        <tr *ngFor="let d of data">
            <td>{{d.id}}</td>
            <td>{{d.title}}</td>
            <td>{{d.price}}</td>
            <td>{{d.description}}</td>
            <td>{{d.category}}</td>
            <td>
                <img src={{d.image}} alt="Image Description" class="image-size"/>
            </td>
        </tr>
    </table>
</div> -->


<app-todoform></app-todoform>
<app-todolist></app-todolist>