<p>curd works!</p>
<div *ngIf="mobiles;elseerr" class="container mob-table">
    <div class="headers">
       <h2 class="table-title">Manage Mobiles</h2>
       <button class="btn btn-primary" (click)="openForm()">Add Mobile</button>
    </div>
     <table class="table">
        <thead>
            <tr>
                <th>Mobile</th>
                <th>Price(Rs)</th>
                <th>RAM</th>
                <th>Storage</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let mobile of mobiles">
              <td>{{mobile.name}}</td>
              <td>{{mobile.Price}}</td>
              <td>{{mobile.RAM}}</td>
              <td>{{mobile.Storage}}</td>
              <td>
                <button class="btn btn-primary" (click)="openForm(mobile)">Edit</button>
              </td>
              <td>
                <button class="btn btn-danger" (clcik)="deletemobile(mobile['id'])">Delete</button>
              </td>

          </tr>
        </tbody>
     </table>

</div>

<ng-template #err>

   <p class="text-danger">Error Fetching Data</p>

</ng-template>

<div class="form-wrapper" *ngIf="showForm">
    <div class="mobileForm">
        <h2 class="text-info text-center">{{formHeader}}</h2>
        <div class="group">
            <label for="mobile">Name</label>
            <input type="text" class="form-control" [(ngModel)]="mobileName" name="mname" required minlength="5">
        </div>
        <div class="group">
            <label for="price">Price</label>
            <input type="number" class="form-control" [(ngModel)]="price" name="price" required min="1000">
        </div>
        <div class="group">
            <label for="ram">RAM</label>
            <input type="number" class="form-control" [(ngModel)]="ram" name="ram" required min="1">
        </div>
        <div class="group">
            <label for="storage">Storage</label>
            <input type="number" class="form-control" [(ngModel)]="storage" name="storage" required min="1">
        </div>

        <div class="action">
            <button class="btn btn-primary save" (click)="saveMobile()">Save Changes</button>
            <button class="btn btn-danger cancel" (click)="closeForm()">Cacel</button>
        </div>
    </div>
</div>